[submodule "themes/hextra"]
	path = themes/hextra
	url = https://github.com/imfing/hextra
[submodule "module/mod-flexsearch"]
	path = module/mod-flexsearch
	url = https://github.com/gethinode/mod-flexsearch
